table {
    width: 45%;
    border-collapse: collapse;
    position: relative;
}

td {
    border: 1px solid black;
}

td {
    width: 9.1%;
    height: 9.1%;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.enemyBlock {
    width: 100%;
    height: 100%;
    position: relative;
}

.myBlock {
    width: 100%;
    height: 100%;
    position: relative;
}

.button {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0px;
    background-color: aqua;
}

.borderNone {
    border: 0px;
}

div {
    position: absolute;
}

#importantButs {
    position: relative;
    margin-left: 58.5%;
    margin-top: 2%;
}

.importantBut {
    border-radius: 100%;
    background-color: aqua;
    width: 5%;
    border: 0px;
    margin-top: 2%;
    position: absolute;
}

#start {
    margin-left: 2%;
}

#buttonInstall {
    margin-left: 6%;
    visibility: hidden;
}

#darker {
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, 60%);
    z-index: 100000;
}

#turn {
    position: absolute;
    visibility: hidden;
    background-color: rgb(25, 98, 161, 40%);

    z-index: 10000;
    margin-top: 100px;
    margin-left: 36.2%;
    border-radius: 20%;
}

p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    word-wrap: break-word;
}

#darkerWriter {
    color: aliceblue;
    margin-left: 44%;
    margin-top: 20%;
}

#turnWriter {
    color: aliceblue;
    margin-left: 24%;
    margin-top: 20%;
    font-size: 120%;
}

.WarShip {
    height: 0px;
    width: 0px;
    z-index: 10;
}